<footer>
    <table class="soci">
        <tr>
            <td><a href="https://www.facebook.com/ISMIRConf" class="suci"><i class="fa-brands fa-facebook"></i></a></td>
            <td><a href="https://www.instagram.com/ismir_conference" class="suci"><i class="fa-brands fa-instagram"></i></a></td>
            <td><a href="https://twitter.com/ISMIRConf" class="suci"><i class="fa-brands fa-twitter"></i></a></td>
            <td><a href="https://www.linkedin.com/company/ismir-conference" class="suci"><i class="fa-brands fa-linkedin"></i></a></td>
        </tr>
    </table>
    <p class="cupri">&copy; 2022 ISMIR 2022. All rights reserved. ISMIR 2022 logo designed by Mrinali Kamath and graphics designed by Vivek Vasudev.</p>
</footer>