<header>
  <div class="topnav" id="myTopnav">
      <a class="huliln" href="../index"><img class="huli" src="../assets/images/ismir2022.png"></a>
      <!-- <a href="../diversity/mentoring">Venue</a> -->
      <!-- <a href="../diversity/mentoring">Timing</a> -->
      <div class="dropdown">
        <button class="dropbtn">Calls
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../calls/cfp">Call for Papers</a>
          <a href="../calls/cft">Call for Tutorials</a>
          <a href="../calls/cfs">Call for Sponsorships</a>
        </div>
      </div> 
      <a href="../diversity/mentoring">Diversity & Inclusion</a>
      <a href="../program">Program</a>
      <a href="../venue">Venue</a>
      <a href="../sponsors">Sponsors</a>
      <!-- <a href="../diversity/mentoring">ISMIR Mentoring Program</a> -->
      <a href="../team">Team</a>
      <a href="javascript:void(0);" style="font-size:1em;" class="icon" onclick="myHambu()">&#9776;</a>
  </div>
  <hr>
  <a href="https://www.karnatakatourism.org/tour-item/stone-chariot-hampi/" target="_blank"><div class="headline">
  </div></a>
  <hr>
</header>