<div class="maincont">
    <h1>Team</h1>
    <table class="teaotab">
        <tr>
            <td class="huidas" colspan="4">
                <h2>General Chair</h2>
            </td>
        </tr>
        <tr>
            <td class="mugol">
                <img src="../assets/team/preeti-rao.png" alt="Avatar" class="avatar">
                <p class = "naerm">Preeti Rao</p>
            </td>
            <td class="mugol">
                <img src="../assets/team/hema-murthy.png" alt="Avatar" class="avatar">
                <p class = "naerm">Hema Murthy</p>    
            </td>
            <td class="mugol">
                <img src="../assets/team/ajay-srinivasamurthy.png" alt="Avatar" class="avatar">
                <p class = "naerm">Ajay Srinivasamurthy</p>    
            </td>
        </tr>
        <tr>
            <td class="huidas" colspan="4">
                <h2>Scientific Program</h2>
            </td>
        </tr>
        <tr>
            <td class="mugol">
                <img src="../assets/team/masataka-goto.jpg" alt="Avatar" class="avatar">
                <p class = "naerm">Masataka Goto</p>    
            </td>
            <td class="mugol">
                <img src="../assets/team/rafael-caro-repetto.jpg" alt="Avatar" class="avatar">
                <p class = "naerm">Rafael Caro</p>    
            </td>
            <td class="mugol">
                <img src="../assets/team/xavier-serra.png" alt="Avatar" class="avatar">
                <p class = "naerm">Xavier Serra</p>    
            </td>
            <td class="mugol">
                <img src="../assets/team/rachel-bittner.jpeg" alt="Avatar" class="avatar">
                <p class = "naerm">Rachel Bittner</p>    
            </td>
        </tr>
        <tr>
            <td class="huidas" colspan="4">
                <h2>Tutorial Program</h2>
            </td>
        </tr>
        <tr>
            <td class="mugol">
                <img src="../assets/team/vipul-arora.png" alt="Avatar" class="avatar">
                <p class = "naerm">Vipul Arora</p>
            </td>
            <td class="mugol">
                <img src="../assets/team/keunwoo-choi.jpeg" alt="Avatar" class="avatar">
                <p class = "naerm">Keunwoo Choi</p>    
            </td>
            <td class="mugol">
                <img src="../assets/team/sri-rama-murthy.jpeg" alt="Avatar" class="avatar">
                <p class = "naerm">Sri Rama Murty K.</p>    
            </td>
        </tr>
        <tr>
            <td class="huidas" colspan="4">
                <h2>Late Breaking/Demo</h2>
            </td>
        </tr>
        <tr>
            <td class="mugol">
                <img src="../assets/team/siddharth-gururani.png" alt="Avatar" class="avatar">
                <p class = "naerm">Siddharth Gururani</p>    
            </td>
            <td class="mugol">
                <img src="../assets/team/sanjeel-parekh.png" alt="Avatar" class="avatar">
                <p class = "naerm">Sanjeel Parekh</p>    
            </td>
        </tr>
        <tr>
            <td class="huidas" colspan="4">
                <h2>Music Program</h2>
            </td>
        </tr>
        <tr>
            <td class="mugol">
                <img src="../assets/team/kaustuv-kanti-ganguli.png" alt="Avatar" class="avatar">
                <p class = "naerm">Kaustuv Kanti Ganguli</p>    
            </td>
            <td class="mugol">
                <img src="../assets/team/sumitra-ranganathan.jpg" alt="Avatar" class="avatar">
                <p class = "naerm">Sumitra Ranganathan</p>    
            </td>
        </tr>
        <tr>
            <td class="huidas" colspan="4">
                <h2>Publications</h2>
            </td>
        </tr>
        <tr>
            <td class="mugol">
                <img src="../assets/team/marius-miron.png" alt="Avatar" class="avatar">
                <p class = "naerm">Marius Miron</p>    
            </td>
        </tr>
        <tr>
            <td class="huidas" colspan="4">
                <h2>Sponsorship/Industry</h2>
            </td>
        </tr>
        <tr>
            <td class="mugol">
                <img src="../assets/team/balaji.jpg" alt="Avatar" class="avatar">
                <p class = "naerm">Balaji Thoshkahna</p>
            </td>
            <td class="mugol">
                <img src="../assets/team/joe-cheri.png" alt="Avatar" class="avatar">
                <p class = "naerm">Joe Cheri Ross</p>    
            </td>
            <td class="mugol">
                <img src="../assets/team/pratibha-moogi.png" alt="Avatar" class="avatar">
                <p class = "naerm">Pratibha Moogi</p>    
            </td>
        </tr>
        <tr>
            <td class="huidas" colspan="4">
                <h2>Diversity and Inclusion</h2>
            </td>
        </tr>
        <tr>
            <td class="mugol">
                <img src="../assets/team/ranjani.png" alt="Avatar" class="avatar">
                <p class = "naerm">Ranjani H G</p>
            </td>
            <td class="mugol">
                <img src="../assets/team/xiao-hu.png" alt="Avatar" class="avatar">
                <p class = "naerm">Xiao Hu</p>    
            </td>
            <td class="mugol">
                <img src="../assets/team/makarand-velankar.png" alt="Avatar" class="avatar">
                <p class = "naerm">Makarand Velankar</p>    
            </td>
        </tr>
        <tr>
            <td class="huidas" colspan="4">
                <h2>Local Initiatives/Outreach</h2>
            </td>
        </tr>
        <tr>
            <td class="mugol">
                <img src="../assets/team/vinoo-alluri.jpg" alt="Avatar" class="avatar">
                <p class = "naerm">Vinoo Alluri</p>    
            </td>
        </tr>
        <tr>
            <td class="huidas" colspan="4">
                <h2>Technology/Local Organization</h2>
            </td>
        </tr>
        <tr>
            <td class="mugol">
                <img src="../assets/team/chandrasekhar.png" alt="Avatar" class="avatar">
                <p class = "naerm">Chandra Sekhar Seelamantula</p>    
            </td>
            <td class="mugol">
                <img src="../assets/team/sharath.jpeg" alt="Avatar" class="avatar">
                <p class = "naerm">Sharath Adavanne</p>    
            </td>
        </tr>
        <tr>
            <td class="huidas" colspan="4">
                <h2>Website</h2>
            </td>
        </tr>
        <tr>
            <td class="mugol">
                <img src="../assets/team/chitralekha-gupta.png" alt="Avatar" class="avatar">
                <p class = "naerm">Chitralekha Gupta</p>    
            </td>
            <td class="mugol">
                <img src="../assets/team/ashvala-vinay.jpeg" alt="Avatar" class="avatar">
                <p class = "naerm">Ashvala Vinay</p>    
            </td>
        </tr>
        <tr>
            <td class="huidas" colspan="4">
                <h2>Social Media/Publicity</h2>
            </td>
        </tr>
        <tr>
            <td class="mugol">
                <img src="../assets/team/albin.png" alt="Avatar" class="avatar">
                <p class = "naerm">Albin Andrew Correya</p>    
            </td>
        </tr>
    </table>
    {{ content }}
</div>