* {
    box-sizing: border-box;
}


body{
    background-color: rgb(233, 236, 239);
}

h1{
    color: rgb(216, 54, 22);
}

.suci {
    color: inherit;
}

a {
    color: rgb(216, 54, 22);
}

footer {
    font-family: 'Lato', sans-serif;
}

.fa-brands {
    font-size: 2em; 
    color: rgb(216, 54, 22); 
    padding-right: 0.5em; 
    padding-left: 0.5em;
}

.fa-brands:hover {
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {

    .fa-brands {
        font-size: 1em;
    }

}

.soci {
    margin-left: auto; 
    margin-right: auto;
}

.cupri {
    text-align: center;
    font-size: 0.8em;
}

@media screen and (max-width: 768px) {

    .cupri {
        font-size: 0.1em;
    }

}

.huli{
    height: auto;
    width: 8em;
    overflow: visible;
    margin-top: 0em;
}

@media screen and (max-width: 768px) {
    .huli{
        width: 6em;
    }
}

.maincont{
    font-family: 'Lato', sans-serif;
    background-color: rgb(233, 236, 239);
    padding-left: 14vw;
    padding-right: 10vw;
    margin-bottom: 0%;
}

@media screen and (max-width: 768px) {
    .maincont{
        padding-left: 6vw;
        padding-right: 10vw;
    }
}

header{
    width: 100%;
}

/* .bgimg {
    background-position: center;
    background-size: contain;
    width: 80vw;
    height: 0%;
    background-size: 80vw 50vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-color: rgb(233, 236, 239);
    background-image: url("../../assets/banner_chariot_cropped.png");
} */

.headline{
    background-image: url("../../assets/images/banner_chariot_cropped.png");
    /* background-color: rgba(221, 221, 221, 1); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 38vh;
    /* padding-top: 40vh; */
    /* text-align: center; */
    padding-bottom: 20vh;
}
.headline a:hover {
    
    }

@media screen and (max-width: 768px) {
    /* .bgimg {
        background-size: 22em auto;
    } */

    .headline{
        height: 0vh;
        padding-bottom: 10vh;
    }
}

p.wewed{
    font-family: "Work Sans", Arial, serif;
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-weight: 1000;
}

p.weweda{
    font-family: "Work Sans", Arial, serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 100;
}

img.lugu{
    height: auto;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (max-width: 768px) {
    p.wewed{
      font-family: "Work Sans", Arial, serif;
      font-size: 20px;
      color: rgb(255, 255, 255);
      font-weight: 1000;
    }

    p.weweda{
        font-family: "Work Sans", Arial, serif;
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-weight: 100;
    }
}

li span {
    display: block;
    font-size: 2.0rem;
}

#countdown{
    text-align: center;
}
  
@media all and (max-width: 768px) {    
    li {
      font-size: 1.0rem;
    }
    
    li span {
      font-size: 1.0rem;
    }
}

.img-gol{
    border-radius: 50%;
    height: 10em;
    width: 10em;
}

@media all and (max-width: 768px) {    
    .img-gol{
        border-radius: 50%;
        height: 4em;
        width: 4em;
    }

    .sposo{
        font-size: 0.8em;
    }
}

.huma-pic{
    padding-top: 10%;
    text-align: center;
}

.teatab{
    width: 100%;
}

.humax{
    text-align: center;
}

.humtab{
    margin-left: auto;
    margin-right: auto;
}

.male-name{
    float: left;
    font-family: "Work Sans", Arial, serif;
    padding-top: 0.6em;
    padding-right: 2em;
    font-size: 2em;
    font-weight: 1000;
}

.maleu-name{
    font-family: "Work Sans", Arial, serif;
    font-size: 2em;
    font-weight: 1000;
    padding-top: 2em;
}

.baap{
    padding-top: 0em;
    font-size: 1.5em;
}

@media all and (max-width: 768px) {    
    .humtab{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .maleu-name{
        font-size: 0.7em;
    }

    .baap{
        font-size: 0.5em;
    }
}

.female-name{
    float: right;
    font-family: "Work Sans", Arial, serif;
    padding-top: 0.6em;
    padding-left: 2em;
    font-size: 2em;
    font-weight: 1000;
}

.lefmal{
    display: inline-block;
}

.rigfem{
    display: inline-block;
}

@media all and (max-width: 768px) {    
    .male-name{
        float: left;
        font-size: 0.4em;
        padding-top: 3.5em;
        padding-right: 2em;
        font-weight: 1000;
    }
    
    .female-name{
        float: right;
        font-size: 0.4em;
        padding-top: 3.5em;
        padding-left: 2em;
        font-weight: 1000;
    }

}

.vl {
    border-left: 6px solid rgb(250, 250, 250);
    height: 500px;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.blessit{
    text-align: center;
    font-family: "Work Sans", Arial, serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-weight: 1000;
    padding-top: 2em;
}

@media screen and (max-width: 768px) {
    .blessit{
        font-size: 1.6em;
    }
}
  
  /* The actual content */
.content {
    padding: 20px 80px 30px 60px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 6px;
    color: rgb(0, 0, 0);
}

.timehead{
    text-align: center;
    font-size: 4rem;
    font-family: "Work Sans", Arial, serif;
    font-weight: 1000;
    color: rgb(255, 0, 0);
}

.temr{
    width: auto;
    align-items: center;
    align-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media screen and (max-width: 768px) {
    .timehead{
        font-size: 2rem;
    }
}


.invitab{
    margin: 2em auto 0 auto;
    width: 100%;
    padding-bottom: 6%;
}

.invitab th{
    border: 2px solid rgb(255, 0, 0);
}

#weddi{
    display: none;
}

/* th:hover{
    background-color: rgb(255, 0, 0);
}

th{
    color: rgb(255, 255, 255);
    width: 50%;
} */

.recepl, .weddil{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.weddi{
    display: none;
}

button{
    background-color: rgba(255, 255, 255, 0);
    border: rgb(255, 255, 255);
}

.inviteinfo{
    padding-top: 10%;
}

.menu{
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.menop{
    margin: auto;
    padding-bottom: 1%;
    padding-top: 1%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-family: monospace;
    width: 100%;
}

.menops{
    text-align: center;
}

#kln{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.infu{
    width: 60%;
    padding-left: 1rem;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 2rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .infu{
        size: 0.1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        width: 20%;
    }

}

.brenew{
    width: 40%;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .brenew{
        size: 0.1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        width: 20%;
    }

}

@media screen and (max-width: 768px) {
    .menop{
        font-size: 0.4rem;
        padding-right: 0%;
        border-spacing: 0rem;
    }
}

.sepra{
    margin-top: 2%;
    margin-bottom: 2%;
}

.dutus{
    width: 100%;
}

@media screen and (max-width: 768px) {
    .dutus{
        width: 100%;
        font-size: 0.6rem;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 2em;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}

.avatar{
    width: 6em;
    height: auto;
    border-radius: 50%;
}

.naerm{
    font-weight: bold;
    font-size: 1em;
}

@media screen and (max-width: 768px) {
    .avatar{
        width: 3em;
    }
    .naerm{
        font-size: 0.5em;
    }
}

.huda{
    visibility: hidden;
    display: none;
}

.huidas{
    text-align: left;
}

.mugol{
    width: 25%;
}

.tuxgol{
    width: 75%;
    text-align: left;
}

.cardet{
    font-size: 1rem;
}

.infa{
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .card{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {

    .tuxgol{
        font-size: 0.5em;
        vertical-align: top;
        text-align: left;
    }

    .container {
        padding: 2px;
    }

    .infa{
        font-size: 0.6rem;
    }
}

.fufor{
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
}

.avatari{
    width: 80%;
    height: auto;
}

.avatari2{
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-top: 4%;
}

.temra{
    width: 50%;
}

.gonja{
    visibility: hidden;
}

.upun{
    width: 100%;
    display: block;
    padding-top: 0%;
    margin-top: 0%;
}

.moupun{
    display: none;
}

.dea{
    padding-left: 1em;
    width: 40%;
    display: inline-block;
    padding-right: 1em;
    padding-bottom: 2em;
}

.dea2{
    width: 60%;
}

@media screen and (max-width: 768px) {

    .upun{
        display: none;
    }

    .moupun{
        display: block;
        width: 100%;
    }

    .dea{
        display: block;
        width: 100%;
        padding-right: 0%;
        padding-left: 0%;
    }
}

.imuk{
    width: 60%;
}

.imvuk{
    width: 60%;
    height: 60%;
}

.vidtra {
    position: relative;
    overflow: hidden;
    width: 70%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.duta{
    width: 100%;
}

.toipu, .toidu {
    width: 50%;
}
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.topnav {
    padding-left: 14vw;
    overflow: hidden;
    background-color: rgb(233, 236, 239);
    color: rgb(0, 0, 0);
    padding-right: 7vw;
}
  
.topnav a {
    float: left;
    display: block;
    color: rgb(216, 54, 22);
    text-align: center;
    padding: 1.5em 1em;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}

.topnav a:first-child {
    padding: 0em 0em;
}
  
.active {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}
  
.topnav .icon {
    display: none;
}
  
.dropdown {
    float: left;
    /* float: right; */
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 1.2em;    
    border: none;
    outline: none;
    color: rgb(216, 54, 22);
    padding: 1.5em 1em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 1em 2em;
    text-decoration: none;
    display: block;
    text-align: left;
    color: rgb(216, 54, 22);
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 600px) {
    .topnav{
        padding-left: 2vw;
    }
}

.dropdown-content a:first-child {
    padding: 1em 2em;
}
  
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

/* .topnav a:not(:first-child){
    float: right;
} */

a:first-child:hover{
    background-color: rgba(0, 0, 0, 0);
}
  
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
}

@media screen and (max-width: 768px) {

    .topnav a:not(:first-child){
        padding: 0.5em 1em;
        font-size: 1em;
    }

    .dropdown .dropbtn {
        padding: 0.5em 1em;
        font-size: 1em;
    }

    .dropdown-content a:first-child {
        padding: 0.5em 1em;
        font-size: 1em;
    }
}

.teaotab{
    width: 100%;
    text-align: center;
}

.dutab{
    width: 50%;
}

@media screen and (max-width: 600px) {
    .dutab{
        width: 80%;
    }
}

.mubx{
    background-color: rgb(255, 255, 255);
    text-align: left;
}

.mubx td{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vh;
}

.mubx:last-child td{
    padding-bottom: 8vh;
}

.itwit{
    display: none;
}

.tiwit{
    float: right;
}

@media screen and (max-width: 600px) {
    .mubx{
        font-size: 0.5em;
    }

    .tiwit{
        display: none;
    }

    .itwit{
        display: block;
        padding-top: 2em;
    }
}

.platinum-wrapper{
    img {
      max-width: 330px;
    }
  }
.gold-wrapper {
    img {
      max-width: 230px;
    }
  }
.silver-wrapper {
    img {
      max-width: 150px;
    }
  }
.supporter-wrapper {
    img {
      max-width: 1em;
    }
}